.App-header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #282c34;
  padding: 20px;
  color: white;
}

.App-header img {
  width: 150px; /* Adjust size based on preference */
  margin-bottom: 20px;
}

.App-header h1 {
  font-size: 2rem;
}
